.add-house {
    background-image: url("https://i.ibb.co/rcSFMvp/image.png");
    background-size: cover;
}
.bg-add-house {
    padding: 150px 0 100px;
    background-color: rgba(29, 25, 25, 0.6);
    color: white;
}
.add-house form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-house form input,
textarea {
    width: 70%;
    /* margin: 10px; */
    padding: 10px 20px;
    border-radius: 15px;
}
