.banner-text {
  font-family: Bradley Hand, cursive;
  text-shadow: 1px 10px 5px black;
  margin-top: -300px;
  font-size: 60px;
  color: rgb(90, 255, 131);
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Optional background color */
}
