.App {
  text-align: center;
}

.body {
  padding-top: 90px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #afb4be48;
}
::-webkit-scrollbar-thumb {
  background: #bfc9ca;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfc9ca;
}

.brand {
  font-family: "Righteous", cursive;
  font-weight: bold;
}

/* Banner font */
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.font-handwritten {
  font-family: "Handlee", cursive;
}
